#check, 
#check2{
    display: none;
}
#check:checked~.moda{
    display: flex;
}
#check2:checked~.modal{
    display: none;
}
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    background-color:#FEFCF7;
}
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.modal__header{
    background-color: #2f3844;
    padding: 48px 56px;
}
.modal__card{
    width: 540px;
    background-color: #fff;
}
.modal__body{
    padding: 48px 56px; 
}
.modal__title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
.modal__pr{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #83888F;
}
.modal__text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding-bottom: 20px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}
.header__item{
    margin-left: 550px;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    gap: 33px;
}
.header__list{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 330px; 
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F
}
.link:active{
    color: black;
}
.intro{
    background-image: url(image/Bitmap\ \(2\).jpg);
    height: 500px;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.intro__title{
    padding-top: 117px;
    padding-left: 85px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    width: 493px;
    line-height: 72px;
    color: #FEFCF7
}
.intro__text{
    width: 493px;
    padding-left: 85px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.work{
    background: #2C343E;
    border-radius: 10px;
    height: 720px;
    margin-bottom: 100px;
}
.work__top{
    padding-top: 130px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 67px;
}
.work__line{
    border: 0px;
    width: 349px;
    height: 2px;
    background-color: rgba(253, 214, 186, 1);
}
.work__list{
    display: flex;
    list-style-type: none;
}
.work__item{
    margin-left: 100px;
    justify-content: space-between;
    border-radius: 8px;
    width: 355px;
}
.work__h1{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}
.work__p{
    width: 250px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}
.work__img{
    padding-top: 73px;
    padding-bottom: 53px;
}
.middle{
    display: flex;
}
.middle__left{
    margin-left: 80px;
    width: 30%;
}
.middle__right{
    margin-right: 50px;
    margin-left: 70px;
    width: 70%;
}
.middle__title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
}
.middle__list{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    color: #333d4b;
    gap: 23px;
}
.middle__item{
    background: rgba(244, 241, 235, 1);
    width: 140px;
    padding: 32px 28px 84px; 
    border-radius: 8px;
}
.box{
    background-color: #0E8784;
    color: #fff;
}
.middle__div:nth-child(1){
    background-color: #0E8784;
    color: #fff;
}
.middle__h1{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;   
}
.middle__p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.image{
    margin-bottom: 50px;
}
.btn{
    margin-left: 570px;
}
.button{
    padding: 15px;
    border-radius: 6px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;  
    background-color: #065450cf;
    color: #FEFCF7;
    text-decoration: none;
}
.button:active{
    background-color: #66D2CF;
}
.footer{
    display: flex;
    padding: 40px 47px;
    background: #2C343E;
    margin-top: 150px;
    margin-bottom: 100px;
}
.footer__left{
    display: flex;
}
.footer__list{
    align-items: center;
    gap: 30px;
    padding-left: 100px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer__item{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase; 
    color: #83888F;
}
.footer__right{
    padding-left: 370px;
    display: flex;
    gap: 25px;
}
.link__1{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase; 
    color: #83888F;
    text-decoration: none;
}
.link__1:active{
    color: white;
}
