%font900{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
}
%fonts400{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
}
%fonts700{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
}